/*========= 途中からハンバーガーメニューに変化するのためのCSS ===============*/

/*========= ボタンのためのCSS ===============*/

body.no_scrollve{
  overflow: hidden;
}


/*ボタン全体の形状*/
.openbtn{
  /*はじめは非表示に*/
display: none;
  /*ボタンの位置*/
position:fixed;
top:10px;
right: 10px;
z-index: 999;
  /*ボタンの形状*/
background:orange;
cursor: pointer;
  width: 50px;
  height:50px;
border-radius: 5px;
}

/*ボタンのアイコン設定*/
.openbtn span{
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
background-color: #fff;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
top:15px;	
}

.openbtn span:nth-of-type(2) {
top:23px;
}

.openbtn span:nth-of-type(3) {
top:31px;
}

/*activeクラスが付与された後のボタンのアイコン設定*/
.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
opacity: 0;
}

.openbtn.active span:nth-of-type(3){
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}

/*fadeDownクラスが付与された後のボタンの出現アニメーション設定*/
.fadeDown {
  animation-name: fadeDownAnime;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  opacity: 0;
  display: block;
}
@keyframes fadeDownAnime{
from {
  opacity: 0;
transform: translateY(-100px);
}

to {
  opacity: 1;
transform: translateY(0);
}
}


/*========= ヘッダーナビゲーションのためのCSS ===============*/

/*==ヘッダーの形状*/
#header{
height: 70px;
width:100%;
display: flex;
justify-content: space-between;
align-items: center;
background:orange;
color:#fff;
text-align: center;
padding: 20px;
}

#header a{width: 100px;}

#header a img{
  width: 100%;}

/*.doneクラスがついたヘッダー*/
#header.dnone {
opacity: 0;/*透過0にして非表示に*/
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたら*/
#header.dnone.panelactive {
opacity: 1;/*不透明にして出現*/
}


/*==ヘッダーのテキストナビゲーションの形状*/
#g-navi ul{
list-style: none;
display: flex;
justify-content: center;
align-items: center
}

#g-navi ul li a{
font-weight: bold;
margin: 0 10px;
display: block;
text-decoration: none;
color: #ffffff;
width: auto;
}

#g-navi ul li.current a,
#g-navi ul li a:hover{
transition:all 0.3s;
color:#00ff1e;	
}

/*.doneクラスがついたヘッダーのテキストナビゲーションの形状*/
#header.dnone #g-navi{
  /*固定位置にして最背面に*/
top: 0;
  right: 0;
z-index: -1;
  /*高さと幅*/  
width:100%;
height: 100vh;
  /*天地中央＆テキスト中央揃え*/  
display: flex;
justify-content: center;
align-items: center;
text-align: center;
  /*はじめは透過0に*/  
  opacity: 0;
transition: all 0.4s;
}

/*メニューボタンをクリックした際に付与されるpanelactiveクラスがついたナビゲーションの形状*/
#header.dnone.panelactive #g-navi{
position:fixed;
opacity: 1;/*不透明に*/
z-index: 100;/*最前面に*/
background:rgba(233, 233, 233, 0.9);
}

#header.dnone.panelactive #g-navi ul{
width: 100%;
padding: 0;
margin-top:80%;
/* display:block;flexの横並びをblockにして縦並びに */
display: flex;
flex-direction: column;
align-items: center;
}


#header.dnone.panelactive #g-navi .back{
  height: 100%;
  width: 100%;
  margin-left: 80%;
  background-color: rgb(0, 229, 245);}

/*リストの形状*/
#header.dnone.panelactive #g-navi li a{
width: max-content;
margin: 10px 0; 
color: orange;
text-decoration: none;
display: block;
text-transform: uppercase;
letter-spacing: 0.1em;
font-weight: bold;
transition:all 0.3s;
}
#header.dnone.panelactive #g-navi li a:hover
{color: #ffffff;}

section{
  position: relative;
  z-index: 1;
}


/* 以下は検証用のレイアウトのための CSS*/
section{
padding:300px 0;
}