@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho');
@import url('https://fonts.googleapis.com/css?family=Noto+Serif+JP');

* {box-sizing: border-box;}
body,h1,h2,ul,ol,p{margin: 0;}
img{vertical-align: none;}

html, body {
  height: 100%;
}

body{
  font-family: "Arial",sans-serif;
  }

.footer_wepper{
  padding-top: 70px;
  background-color: blanchedalmond;}

.footer_wepper .footer_sns ul{
  margin-left: 10px;
  padding: 0;
  justify-content: center;
  display: flex;}

.footer_wepper .footer_sns ul li{
  padding: 0;}

.footer_wepper .footer_sns ul p img{
  margin: 10px 5px;
  width: 30px;
}

.footer_wepper .footer_img ul{
  margin-left: 10px;
  padding: 0;
  justify-content: center;
  display: flex;
}

.footer_wepper .footer_img img{
  width: 100%;
  height: 100px
}

.footer_wepper .footer_img ul p{
  margin: 0 5px;
}

.footer_wepper p{
  padding-bottom: 30px;
  margin: 12px 0;
  font-weight: bold;
  text-align: center;}




  /* jQuery スライド */
.slideshow {
  margin: 0 auto;
	position:relative;
	width:80%;
	height:1650px;
	overflow:hidden;}

.slideshow img {position:absolute;
  top:0;
  left:0;
  z-index:10;
  width: 100%;}

.slideshow img.active {z-index:30;}

.slideshow img.last-active {z-index:20; }